<div class="container">
  <h2>User Settings</h2>
  <!-- <form #form="ngForm" ngNativeValidate> -->
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" class="form-control" [(ngModel)]="userSettings.name"
          required #nameField="ngModel"
          [class.field-error]="form.submitted && nameField.invalid"
          (blur)="onBlur(nameField)"/>
        <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger" >
          Enter a name
        </div>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-primary" name="singleModel"
          [(ngModel)]="singleModel" btnCheckbox
          btnCheckboxTrue="On" btnCheckboxFalse="Off">
            {{ singleModel }}
      </button>
    </div>

    <!-- <br>
    <h6>dirty: {{ propertyTest.dirty }}</h6>
    <h6>pristine: {{ propertyTest.pristine }}</h6>
    <h6>touched: {{ propertyTest.touched }}</h6>
    <h6>untouched: {{ propertyTest.untouched }}</h6>
    <h6>valid: {{ propertyTest.valid }}</h6>
    <h6>invalid: {{ propertyTest.invalid }}</h6>
    <br> -->

    <div class="form-check form-group">
      <input
        class="form-check-input" [(ngModel)]="userSettings.emailOffers"
        type="checkbox"
        value=""
        id="emailOffers"
        name="emailOffers"
      />
      <label class="form-check-label" for="emailOffers">
        Email Special Offers
      </label>
    </div>
    <p>User Interface Style</p>
    <div class="form-group">

      <div class="btn-group">
        <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" id="lightInterface" name="interfaceStyle"
               btnRadio="light" tabindex="0" role="button">Light</label>
        <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" id="mediumInterface" name="interfaceStyle"
               btnRadio="medium" tabindex="0" role="button">Medium</label>
        <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" id="darkInterface" name="interfaceStyle"
               btnRadio="dark" tabindex="0" role="button">Dark</label>
      </div>

      <!-- <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" [(ngModel)]="userSettings.interfaceStyle"
          id="lightInterface"
          value="light"
          checked   />
        <label class="form-check-label" for="lightInterface">
          Light
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" [(ngModel)]="userSettings.interfaceStyle"
          id="mediumInterface"
          value="medium"  />
        <label class="form-check-label" for="mediumInterface">
          Medium
        </label>
      </div>
      <div class="form-check form-group">
        <input class="form-check-input" type="radio" name="interfaceStyle" [(ngModel)]="userSettings.interfaceStyle"
          id="darkInterface"
          value="dark"  />
        <label class="form-check-label" for="darkInterface">
          Dark
        </label>
      </div> -->
    </div>

    <div class="form-group">
      <label for="startDate" >Start Date</label>
      <input type="text"
        placeholder="Start Date"
        class="form-control"
        [(ngModel)]="startDate" name="startDate" id="startDate"
        bsDatepicker>
    </div>

    <div class="form-group">
      <label for="startDate" >Start Date</label>
      <input type="text"
        placeholder="Start Date"
        class="form-control"
        [(ngModel)]="startDate" name="startDate" id="startDate"
        bsDaterangepicker>
    </div>

    Start Date: {{ startDate }}

    <div class="form-group">
      <label for="startTime" >Start Time</label>
      <timepicker type="text"
        [(ngModel)]="startTime" name="startTime" id="startTime"
        ></timepicker>
    </div>

    Start Time: {{ startTime }}

    <div class="form-group">
      User Rating
      <rating [(ngModel)]="userRating" [max]="maxRating" [readonly]="isReadonly"
        name="userRating" id="userRating"
        [titles]="['one','two','three']"></rating>
    </div>

    Start Time: {{ userRating }}

    <div class="form-group">
      <label for="subscriptionType">Subscription Type</label>
      <select class="form-control" id="subscriptionType" name="subscriptionType" [(ngModel)]="userSettings.subscriptionType" >
        <option *ngFor='let type of subscriptionTypes | async'>
          {{ type }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea id="notes" name="notes" class="form-control" rows="3" [(ngModel)]="userSettings.notes"></textarea>
    </div>

    <div [hidden]='!postError'
      class='alert alert-danger'>
      {{ postErrorMessage }}
    </div>
    <button class="btn btn-primary">OK</button>
  </form>
</div>
<br>
<br>
<!-- {{ form | json }} -->
<!-- {{ form.value | json }} -->
{{ userSettings | json }}
